body {
    background-color: rgb(185, 205, 207);
}
header {text-align:center}
 
  
  .button {
    color: rgba(243, 123, 24, 0.986);
    text-decoration: bisque;
    font-size: 14px;
}

.button:hover {
    text-decoration: underline;
}
div.gallery {
  margin: 15px;
  border: 3px solid #ccc;
  width: 380px;
  float:right;

}

div.gallery:hover {
  border: 5px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;

}

div.desc {
  padding: 11px;
  text-align: center;
}